body#context
{
	background:#d4d4d4;
}

body#error
{
	background:#ed5353;
}

body#landing
{
	background:#95a3ab;
}

body#success
{
	background:#9bdb4d;
}

button#back
{
	font-size:24px;
	cursor:pointer;
}

button.accept
{
	font-size:24px;
	cursor:pointer;
	background:#206b00; color:#fafafa;
}

button.big
{
	width:400px; height:400px; float:left;
	cursor:pointer; text-align:center;
}

button.spacing
{
	margin-left:50px;
}

form
{
	background:#fafafa;
}

input#submitname
{
	font-size:20px;
	height:40px;
}

input#visitorname
{
	width:80%; height:40px;
}

input.no
{
	border:0px; -webkit-appearance:none;
	width:100%; height:38px;
	background:#d4d4d4; color:#0e141f;
}

input.yes
{
	border:0px; -webkit-appearance:none;
	width:100%; height:38px;
	background:#3689e6; color:#fafafa;
}

input.wide
{
	width:90%; height:40px;
}

input.widesubmit
{
	font-weight:bold; font-size:24px;
	cursor:pointer;
}

select#taal
{
	/* -webkit-appearance:none; */
	font-size:24px;
}

table.readablefont
{
	font-size:24px;
}

table.liteborder, th.liteborder, td.liteborder
{
	border:1px solid #667885;
}

table.lite
{
	border-collapse:collapse; padding:0px 0px 0px 0px;
}

table.regular
{
	border-collapse:collapse;
}

th
{
	text-align:left;
}

td.litename
{
	padding:0px 0px 0px 0px;
	font-size:32px;
}

td.no
{
	background:#d4d4d4;
	text-align:center;
}

td.yes
{
	background:#3689e6;
	text-align:center;
}

tr.lite
{
	font-size:32px;padding:0px 0px 0px 0px;
}

#back
{
	position:fixed; left:0px; bottom:0px; z-index:-1;
}

#info
{
	font-family:sans-serif;position:fixed;right:5px;left:auto;top:auto;bottom:5px;border:1px solid #000000;width:300px;background:#fafafa;
}

#info_emoji
{
	background:#0078D7;color:#fff;text-align:center;margin:2px 2px 2px 2px;
}

#info_content
{
	margin:2px 2px 2px 2px;
}

#logo
{
	position:fixed; right:0px; bottom:0px; z-index:-1;
}

#taal
{
	position:fixed; right:0px; top:0px;
	font-size:0px;
}

.centre
{
	text-align:center;
}

.clear_both
{
	clear:both;
}

.bigfont
{
	font-size:128px;
}

.nodecoration
{
	text-decoration:none;
}

.tekst
{
	font-size:72px;
}

.tekst_header
{
	font-size:48px;
}

.tekst_code
{
	font-family:'Monaco','Consolas',monospace;
}